@import url("https://fonts.googleapis.com/css2?family=Overpass&family=PT+Sans&display=swap");
/* font-family: 'Overpass', sans-serif;
font-family: 'PT Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  /* width: 100%; */
  position: relative;
}
/* .banner.lazy {
 
  background-image: filter(url("../images/travel-concept-with-world-map-toy-van.jpg"), blur(20px));
} */
header{
  background:rgba(216, 204, 182, 0.741) ;
}
/* .banner  img{
   width: 100%;
  height: 50rem;
  position: relative;
  overflow: hidden;
 
  background: linear-gradient(rgba(46, 36, 36, 0.3), rgb(75, 54, 54, 0.1));
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
} */
.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  background: -webkit-linear-gradient(
      rgba(46, 36, 36, 0.8),
      rgb(75, 54, 54, 0.6)
    ),
    url("../images/travel-concept-with-world-map-toy-van.jpg") 0 0 no-repeat
      fixed;
  background: linear-gradient(rgba(46, 36, 36, 0.3), rgb(75, 54, 54, 0.1)),
    url("../images/travel-concept-with-world-map-toy-van.jpg");

  background-size: cover;
  background-attachment: fixed;
}
.banner-second {
  width: 100%;
  height: 14rem;
  overflow: hidden;
  /* background: rgb(75, 54, 54); */
  background: -webkit-linear-gradient(
      rgba(46, 36, 36, 0.8),
      rgb(75, 54, 54, 0.6)
    ),
    url("../images/travel-concept-with-world-map-toy-van.jpg") 0 0 no-repeat
      fixed;
  background: linear-gradient(rgba(46, 36, 36, 0.3), rgb(75, 54, 54, 0.1)),
    url("../images/creative-background-blue-suitcase-sneakers-map-yellow-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  object-fit: fill;
}
.logo-header {
  object-fit: cover;
}
.logo-main {
  z-index: 1;
}
.logo-main-second {
  /* z-index: 1; */
  width: 15rem;
  margin-left: 35rem;
  margin-top: -8rem;
}
/* .logo-main:hover{
transform: translate3d(-50%,-50%,100%) rotate(-150deg);
} */
.logo {
  height: 20rem;
  margin-top: 9rem;
}
.logo-second {
  height: 10rem;
  margin-top: 0px;
}
.navbar {
  display: none;
  z-index: 1;
}
.nav-toggle {
  padding: 10px;
  color: black;
  border: 2px solid black;
  z-index: 2;
}
#canvas1 {
  margin-right: -6rem ;
  padding: 1rem;
}
.cottage-desc {
  font-size: 2rem;
  color: rgb(75, 54, 54);
  padding: 1rem;
}
.typingtext {
  background-color: rgb(255, 255, 255) !important;
  margin-left: 6rem;
  /* margin-right: -40rem; */
}
.description-text {
  background-color: antiquewhite;
  margin: 0rem -0.7rem !important;
}
.welcome-text {
  display: none;
}
.img {
  height: 20rem;
  width: 25rem;
}
.img-main-containe {
  position: relative;
}

.content {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  background: rgba(0, 0, 0, 0.7);
  background-color: rgb(75, 54, 54, 1);
  position: absolute;
  /* height: 99%;
  width: 100%; */

  margin: 1rem;
  left: 0;
  top: 0;
  bottom: 0;
  right: -1rem;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  /* padding-left: 1em;
  padding-right: 1em; */
  padding: 2rem;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background-color: rgb(175, 157, 157);
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: rgb(75, 54, 54);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: small;
}
.fadeIn-top {
  top: 20%;
}
.video-section{
  background-color: #000;
  margin-top: 5rem;
}
.video-bg {
  background-color: rgb(0, 0, 0);
}
.video {
  background-color: #000;
  height: 35rem;
  width: 100%;
}
.services-text-main {
  padding: 3rem;
  color: rgb(75, 54, 54);
  font-size: larger;
}
.services-text {
  color: rgb(148, 142, 142);
  font-size: 1rem;
}
.icon-service {
  font-size: 4rem;
  color: rgb(75, 54, 54);
}
.service-box-main {
  padding-left: 12rem;
}
.service-box {
  z-index: 1;
  background-color: antiquewhite;
  box-shadow: 2px 4px 4px #e6e6e6;
}
.service-box:hover {
  top: -3px;
  left: -3px;
  box-shadow: 3px 3px 15px 0px rgba(75, 54, 54, 0.85);
}
/* testimonials */
.testimonial-main {
  background-color: rgb(194, 185, 179);
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel-item {
  color: rgb(75, 54, 54);
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid rgb(75, 54, 54);
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  /* font-style: italic; */
}
.carousel .overview b,
.testimonial-text {
  text-transform: uppercase;
  color: rgb(75, 54, 54);
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* ========= */
.contactDetails-text-main {
  margin-bottom: -30px !important;
}
.contact-text-main {
  color: rgb(148, 142, 142);
  font-size: 2rem;
}
.contactFormResponse {
  color: rgb(75, 54, 54);
  display: none;
  /* margin-top: 50%; */
  padding: 10rem 3rem;
}
.enquiryFormResponse {
  color: rgb(75, 54, 54);
  display: none;
  /* margin-top: 50%; */
  /* padding:  3rem; */
  /* height: 40rem; */
}
.footer-address,
.footer-contact {
  color: rgb(148, 142, 142);
  font-size: 2rem;
}
.map {
  width: 35rem;
  height: 45rem;
}
.contact-btn {
  color: rgb(75, 54, 54);
  font-size: larger;
  font-weight: 500;
  background-color: #37c3bc;
}
.enquiry-btn {
  background-color:rgb(75, 54, 54) !important;
  color: white !important;
}
.footer {
  background-color: rgb(75, 54, 54);
}
.logo-footer {
  height: 20rem;
}
.footer-contact-text,
.footer-address-text {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
}
.footer-contact-text a {
  color: rgb(231, 145, 33);
}
.footer-social-media a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(148, 142, 142);
  display: block;
  transition: 0.3s;
}
.copyright {
  font-size: 2rem;
  color: rgb(148, 142, 142);
  font-weight: 500;
}
.copyright a {
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(75, 54, 54);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.toggle-btn {
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* gallery page */

.gallery-main {
  overflow: hidden;
  background-color: white;
  background-size: 0.75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.detail-img {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 0.25s;
}

.detail-img :nth-child(7n + 1) {
  grid-column: 2 / span 2;
}

.detail-img:hover {
  z-index: 2;
  transform: scale(2);
}
/* Accomodation */
.accomodation-img {
  background-color: rgb(75, 54, 54);
  width: 100%;
  height: 25rem;
}
.accomodation-img:hover {
  z-index: 2;
  transform: scale(1.1);
}
.accomodation-main {
  background-color: rgb(194, 185, 179);
}
.accomodation-main-text {
  font-size: larger;
  color: rgb(75, 54, 54);
}
.accomodation-text {
  font-weight: 400;
  color: rgb(75, 54, 54);
}
.accomodation-btn {
  color: #37c3bc;
  background-color: rgb(75, 54, 54);
  font-size: larger;
  font-weight: 500;
  width: 15rem;
}
.accomodation-btn:hover {
  color: rgb(75, 54, 54);
  background-color: #37c3bc;
}
.accomodation-img-details {
  margin-left: 13rem !important;
}
.accomodation-text-details {
  color: rgb(75, 54, 54);
  font-size: 1rem;
}
.accomodation-text2-details {
  color: rgb(75, 54, 54);
  font-size: larger;
  font-weight: 600;
}
.accomodation-text3-details {
  color: rgb(75, 54, 54);
}
.size {
  color: rgb(75, 54, 54);
  background-color: rgb(194, 185, 179);
  padding: 3rem;
  font-weight: 600;
}
.price {
  color: rgb(75, 54, 54);
  background-color: rgb(194, 185, 179);
  padding: 3rem;
  font-weight: 600;
}
.map-contact {
  width: 100%;
  height: 20rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
/* blog */
/* Detail post */
.detail-post {
  background-color: rgb(194, 185, 179);
  padding: 3rem;
  margin-left: 6rem;
}
.post-image-single {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.post-header {
  color: rgb(75, 54, 54);
}
.post-content-text {
  color: rgb(75, 54, 54);
}
.date {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
}
/* Post List */
.post-list {
  background-color: rgb(194, 185, 179);
}
.blog-heading {
  font-size: larger;
  font-weight: 500;
  color: rgb(75, 54, 54);
}
.ellipsme {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-text {
  font-size: medium;
  color: rgb(75, 54, 54);
}
/* place */
.places {
  position: relative;
}
.card1 {
  position: relative;
  border-radius: 10px;
}

.card1 .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(194, 185, 179);
  transition: 0.7s;
  z-index: 1;
}

.card1 .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.card1 .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.card1 .face.face1 {
  position: relative;
  background: rgb(75, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card1:hover .face.face1 {
  background: rgb(75, 54, 54);
  transform: translateY(0px);
}

.card1 .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.card1:hover .face.face1 .content {
  opacity: 1;
}

.face.face1 .content i {
  max-width: 100px;
}

.card1 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 20rem;
  box-sizing: border-box;
  box-shadow: 0 20px 20px rgb(75, 54, 54, 0.8);
  transform: translateY(-200px);
}

.card1:hover .face.face2 {
  transform: translateY(0);
}

.card1 .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(75, 54, 54);
}

.card1 .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: rgb(75, 54, 54);
}

a {
  text-decoration: none;
  color: rgb(75, 54, 54);
  transition: 0.5s;
}
/* contact page*/
.contactPageForm {
  background-color: antiquewhite;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.274);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
/* Rain Effect */
.rain {
  background-image: url("../images/7-2-rain-drops-png.png");
  background-repeat: repeat;
  background-position: cover;
  width: 100%;
  height: 137vh;
  position: absolute;
  /* z-index: 4; */
  margin-top: -45%;
  animation: rain 0.3s linear infinite;
}
/* small devices */
@media screen and (max-width: 700px) {
  body {
    /* width: 100%; */
    overflow-x: hidden;
  }

  .logo {
    height: 15rem;
    margin-top: 10rem;
  }
  .logo-main-second {
    /* z-index: 1; */
    width: 15rem;
    margin-left: 4rem;
    margin-top: -7rem;
  }
  .typingtext {
    margin-left:0rem !important;
    /* margin-right: -40rem; */
  }
  .cottage-desc {
    font-size: 20px;
    padding: 10px;
  }
  .img {
    height: 10rem;
    width: 15rem;
    margin-left: 20px;
  }
  .video-section{
    
    margin-top: 2rem;
  }
  .video {
    height: 10rem;
    width: 20rem;
    margin: 10px;
  }
  .service-box-main {
    margin-left: 0rem !important;
    padding-left: 0rem;
    margin: 1rem;
    padding: 1rem;
  }
  .services-text-main {
    padding: 5px;
    font-size: 30px;
  }
  .service-box {
    margin-bottom: 1rem !important;
    margin-top: 1rem;
    /* margin-right: 1rem; */
  }
  .services-text {
    font-size: small;
  }
  .icon-service {
    font-size: 2rem;
  }
  .map {
    width: 18rem;
    height: 20rem;
    margin-left: -13px !important;
  }
  .contact-text-main,
  .footer-address,
  .footer-contact {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .logo-footer {
    height: 10rem;
  }
  .footer-social-media a {
    padding: 8px 8px 8px 30px;
  }
  .footer-contact-text,
  .footer-address-text {
    color: white;
    font-size: 1rem;
  }
  .footer-contact-text a {
    color: white;
    font-size: 1rem;
    list-style: none;
  }
  .accomodation-img-details {
    padding-left: 0rem;
    padding: 1rem;
    width: 18rem;
    margin-left: 1.2rem !important;
  }
  .services-text-main {
    padding: 1rem;
    color: rgb(75, 54, 54);
    font-size: larger;
  }

  /* Blog */
  .detail-post {
    padding: 1rem;
    margin-left: 0rem;
    margin-top: 20px;
  }
  .post-image-single {
    border-radius: 1rem;
  }
  .post-list {
    margin: 1rem;
  }
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 10vh;
  }
  .detail-img {
    margin-bottom: -40%;
  }
  .card1 {
    margin-left: 1.5rem;
    margin-top: 1rem;
  }
  /* image slider */
  .modal-content {
    width: 80%;
  }
  #canvas1 {
    display: none;
  }
  .welcome-text {
    display: block;
  }
  .ciel {
    margin-top: -200% !important;
  }
  .rain {
    width: 100%;
    height: 137vh;
    margin-top: -150%;
  }
  .formSection {
    margin-bottom: 0px !important;
    
  }
  .form {
    margin-bottom: 40px !important;
    margin-top: 60px;
  }
  /* .size{
   padding-left: 1rem;
  } */
}
/* tablet devices */
@media screen and (min-width: 500px) and (max-width: 900px) {
  body {
    /* max-width: 100%; */
    font-size: 30px !important;
  }
  h1 {
    font-size: 40px;
  }

  .logo-main-second {
    width: 15rem;
    margin-left: 17rem;
    margin-top: -8rem;
  }
  .img {
    margin-left: 7rem;
  }
  .service-box-main {
    margin-left: 0rem;
  }
  .services-text {
    font-size: 1.5rem;
  }
  .video {
    height: 25rem;
    width: 35rem;
    margin: 5rem;
  }
  .testimonial-text {
    font-size: 2rem !important;
  }
  .testimonial {
    font-size: 1.3rem;
  }
  .testimonial-text {
    font-size: 1.5rem;
  }
  .accomodation-img-details {
    padding-left: 4rem;
    width: 40rem !important;
    margin-left: 1rem !important;

  }
  .accomodation-text-details,
  .accomodation-text3-details,
  .price,
  .size,
  .accomodation-text,
  .accomodation-btn,
  .blog-text,
  .date,
  .post-content-text {
    font-size: 30px;
  }
  .accomodation-main-text,
  .accomodation-text2-details,
  .blog-heading,
  .post-header {
    font-size: 40px;
  }
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 20vh;
  }

  .detail-img {
    margin-bottom: -40%;
  }
  .card1 {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .places-text {
    font-size: 25px;
  }
  .places-text-main {
    font-size: 2rem !important;
    font-weight: 500;
  }
  .card1 .face {
    width: 700px;
    height: 210px;
    transition: 0.5s;
  }
  #canvas1 {
    display: none;
  }
  .welcome-text {
    display: block;
  }
  .ciel {
    margin-top: -100% !important;
    height: 100rem;
    background-color: #f5f2f72c;
    animation-name: jourNuit;
  }
  .rain {
    width: 100%;
    height: 137vh;
    /* margin: 200% !important; */
  }
  .service-box {
    margin: 20px;
    margin-left: -4rem;
  }
  .footer-contact-text,
  .footer-address-text {
    color: white;
    font-size: 1.5rem;
  }
}
/* Form  */
.form {
  margin-bottom: 40px !important;
  margin-top: 60px;
}
.formSection {
  padding: 2rem;
  background-color: antiquewhite;
  margin-bottom: 0px !important;
  position: relative;
 
}
.formbg{
  margin-top: 2rem;
}
.enquiryformSection {
  padding: 2rem;
  margin-bottom: 0px !important;
  position: relative;
}
.formReply {
  position: absolute;
  background-color: rgb(245, 239, 231);
  color: rgb(75, 54, 54);
  height: 10%;
  top: 90%;
  width: 90%;
  text-align: center;
  display: none;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: rgb(112, 67, 67);
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 20px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 20px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: rgb(75, 54, 54);
  border: 2px solid rgb(75, 54, 54);
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

#toTop {
  position: fixed !important;
  bottom: 20px;
  right: 30px;
  z-index: 2;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(184, 185, 199) !important;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  /* display: none; */
}

#toTop:hover {
  background-color: #555;
}

@keyframes rain {
  form {
    background-position: 0% 0%;
  }
  to {
    background-position: 70% 100%;
  }
}
/* sun effect */
.sun {
  position: absolute;
  width: 5rem;
  height: 5rem;
  /* position: relative; */

  background: linear-gradient(#ff0, #d00);
  box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
  border-radius: 50%;
  top: 0%;
  z-index: 5;
  /* box-shadow: 17px 2px 211px -26px rgba(255,49,0,0.83); */
  box-shadow: 1px 6px 221px -8px rgba(255, 49, 0, 0.83);
  /* box-shadow: 1px 6px 221px -8px rgba(255,49,0,0.83);
  -webkit-box-shadow: 1px 6px 221px -8px rgba(255,49,0,0.83);
  -moz-box-shadow: 1px 6px 221px -8px rgba(255,49,0,0.83);*/
  animation: sunSet 40s infinite;
  animation-delay: 1s;
}
@keyframes sunSet {
  0% {
    transform: translate(1px, 0px);
  }
  100% {
    bottom: 0%;
    transform: translate(1265px, 200px);
  }
  /* 100% {
    transform:  translate(-100px,100px)  ;
  }  */
}

.moon {
  position: absolute;
  top: 20rem;
  left: 4%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  box-shadow: -15px 15px 0 5px white;
  border-radius: 50%;
  animation: moon 20s infinite;
  animation-delay: 1s;
}
@keyframes moon {
  0% {
    transform: translate(1px, 0px);
  }
  100% {
    bottom: 0%;
    transform: translate(1100px, -300px);
  }
}
/* ******** */
.animationSection {
  height: 70rem;
  z-index: 3;
  display: none;
  /* background-color: #37c3bc; */
}
.ciel,
.soleil,
.lune,
.terre,
.etoile span {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ciel {
  margin-top: -70%;
  height: 90rem;
  background-color: #f5f2f72c;
  animation-name: jourNuit;
  animation-duration: 45s;
  animation-iteration-count: 1;
}
.soleil {
  width: 100px;
  height: 100px;
  background-color: #f39f18;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: -10%;
  box-shadow: 0px 0px 52px 2px rgba(255, 170, 0, 1);
  animation-name: jour;
  animation-delay: 0s;
 animation-duration: 25s;
 animation-iteration-count: 1;
  z-index: 2;
}

.lune {
  width: 100px;
  height: 100px;
  background-color: #f4fefe;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 101%;
  box-shadow: 0px 0px 30px 0px rgba(250, 250, 250, 1);
  animation-name: nuit;
  animation-delay: 25s;
  animation-duration: 21s;
   animation-iteration-count: 1;

  z-index: 2;
}

.etoile span {
  color: transparent;
  position: absolute;
  z-index: 3;
  animation-name: etoile;
  animation-duration: 20s;
  animation-delay: 27s;
  animation-iteration-count: 1;
}
.etoile span:first-child {
  top: 10%;
  left: 20%;
}
.etoile span:nth-child(2) {
  top: 20%;
  left: 30%;
}
.etoile span:nth-child(3) {
  top: 40%;
  left: 35%;
}
.etoile span:nth-child(4) {
  top: 15%;
  left: 10%;
}
.etoile span:nth-child(5) {
  top: 40%;
  left: 4%;
}
.etoile span:nth-child(6) {
  top: 35%;
  left: 24%;
}
.etoile span:nth-child(7) {
  top: 20%;
  left: 50%;
}
.etoile span:nth-child(8) {
  top: 35%;
  left: 45%;
}
.etoile span:nth-child(9) {
  top: 10%;
  left: 42%;
}
.etoile span:nth-child(10) {
  top: 40%;
  left: 60%;
}
.etoile span:nth-child(11) {
  top: 35%;
  left: 58%;
}
.etoile span:nth-child(12) {
  top: 7%;
  left: 68%;
}
.etoile span:nth-child(13) {
  top: 25%;
  left: 72%;
}
.etoile span:nth-child(14) {
  top: 20%;
  left: 78%;
}
.etoile span:nth-child(15) {
  top: 35%;
  left: 75%;
}
.etoile span:nth-child(16) {
  top: 30%;
  left: 90%;
}
.etoile span:nth-child(17) {
  top: 2%;
  left: 89%;
}
.etoile span:nth-child(18) {
  top: 24%;
  left: 95%;
}
.etoile span:nth-child(19) {
  top: 12%;
  left: 92%;
}
.etoile span:nth-child(20) {
  top: 18%;
  left: 65%;
}
.etoile span:nth-child(21) {
  top: 12%;
  left: 60%;
}
.etoile span:nth-child(22) {
  top: 5%;
  left: 75%;
}
.etoile span:nth-child(23) {
  top: 20%;
  left: 8%;
}
.etoile span:nth-child(24) {
  top: 10%;
  left: 5%;
}
.etoile span:nth-child(25) {
  top: 28%;
  left: 15%;
}
.etoile span:nth-child(26) {
  top: 12%;
  left: 32%;
}
.etoile span:nth-child(27) {
  top: 2%;
  left: 28%;
}
.etoile span:nth-child(28) {
  top: 20%;
  left: 38%;
}
.etoile span:nth-child(29) {
  top: 8%;
  left: 36%;
}
.etoile span:nth-child(30) {
  top: 4%;
  left: 48%;
}
.etoile span:nth-child(31) {
  top: 30%;
  left: 52%;
}
.etoile span:nth-child(32) {
  top: 8%;
  left: 55%;
}
.etoile span:last-child {
  top: 15%;
  left: 80%;
}

@keyframes jourNuit {
  /* 0%{background-color:transparent;}
  10%{background-color: transparent;}
  20%{background-color: transparent;}
  30%{background-color:transparent;}
  40%{background-color: transparent;} */
  0% {
    background-color: rgb(114, 98, 124, 0.7);
  } /*lever soleil*/
  10% {
    background-color: rgb(233, 173, 136, 0.5);
  }
  20% {
    background-color: rgb(122, 158, 182, 0.2);
  }
  30% {
    background-color: rgb(119, 181, 254, 0.2);
  }
  40% {
    background-color: rgb(204, 118, 63, 0.5);
  }
  50% {
    background-color: rgb(224, 102, 50, 0.5);
  } /*coucher soleil*/
  60% {
    background-color: rgb(117, 66, 60, 0.8);
  } /*début nuit*/
  70% {
    background-color: rgb(51, 28, 26, 0.8);
  }
  80% {
    background-color: rgb(0, 0, 0, 0.8);
  }
  90% {
    background-color: rgb(0, 0, 0, 0.8);
  }
  100% {
    background-color: rgb(70, 61, 76, 0.8);
  } /*fin nuit*/
}
@keyframes jour {
  0% {
    top: 70%;
    left: 0%;
    background-color: #f39f18;
    box-shadow: 0px 0px 52px 2px rgba(255, 170, 0, 1);
  } /*lever soleil*/
  10% {
    top: 40%;
    left: 10%;
    background-color: #f3f990;
    box-shadow: 0px 0px 40px 18px rgba(245, 233, 95, 1);
  }
  20% {
    top: 30%;
    left: 20%;
    background-color: #f3f9d2;
    box-shadow: 0px 0px 35px 8px rgba(250, 241, 147, 1);
  }
  30% {
    top: 25%;
    left: 35%;
    background-color: #f3f9d2;
    box-shadow: 0px 0px 100px 20px rgba(250, 241, 147, 1);
  }
  40% {
    top: 20%;
    left:45%;
    background-color: #f3f990;
    box-shadow: 0px 0px 52px 14px rgba(245, 233, 95, 1);
  }
  50% {
    top: 25%;
    left:55%;
    background-color: #f39f18;
    box-shadow: 0px 0px 70px 2px rgba(250, 115, 42, 1);
  } /*coucher soleil*/
  60% {
    top: 30%;
    left: 65%;
    box-shadow: 0px 0px 50px 2px rgba(250, 115, 42, 1);
  } /*début nuit*/
  100% {
    top: 40%;
    left: 100%;
    box-shadow: 0px 0px 20px 0px rgba(250, 115, 42, 1);
  }

}

@keyframes nuit {
 0%{
   top: 40%;
   left: 0%;
   box-shadow: 0px 0px 0px 0px rgba(250, 250, 250, 1);
 }
 30%{
  top: 30%;
  left: 20%;
  box-shadow: 0px 0px 20px 0px rgba(250, 250, 250, 1);
 }
40%{
  top: 25%;
  left: 30%;
  box-shadow: 0px 0px 40px 0px rgba(250, 250, 250, 1);
 }
 50%{
  top: 20%;
  left: 40%;
  box-shadow: 0px 0px 50px 5px rgba(250, 250, 250, 1);
 }
 65%{
  top: 25%;
  left: 60%;
  box-shadow: 0px 0px 100px 18px rgba(250, 250, 250, 1);
 }
 80%{
  top: 30%;
  left: 80%;
  box-shadow: 0px 0px 75px 12px rgba(250, 250, 250, 1);
 }
 100%{
  top: 40%;
  left:100%;
  box-shadow: 0px 0px 20px 0px rgba(250, 250, 250, 1);
 }
}
/*  */
@keyframes etoile {
  0% {
    color: transparent;
  } /*lever soleil*/
  10% {
    color: #cddae2;
  }
  20% {
    color: #d4e09b;
  }
  30% {
    color: #d4e09b;
  }
  40% {
    color: #dac977;
  }
  50% {
    color: #e9d055;
  } /*coucher soleil*/
  60% {
    color: #dfcb69;
  } /*début nuit*/
  70% {
    color: #e9e1ad;
  }
  80% {
    color: #f2da63;
  }
  90% {
    color: #efe7b6;
  }
  100% {
    color: transparent;
  } /*fin nuit*/
}
#canvas {
  position: absolute;
  width: 200%;
  height: 137vh;
  margin-top: -10%;
  transform: translate(-50%, -50%);
}
#snow-flake-app{
  position: absolute;
  width: 100%;
  height: 137vh;
  top: 0%;
}
.snow {
  position: relative;
  background-color: #eee;
  top: 0;
  border-radius: 50%;
  animation-name: snowing;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0.3;
}

.snow-flake1 {
  width: 12px;
  height: 12px;
  left: 5%;
  animation-duration: 1.5s;
}
.snow-flake2 {
  width: 6px;
  height: 6px;
  left: 15%;
  animation-duration: 2.75s;
}
.snow-flake3 {
  width: 8px;
  height: 8px;
  left: 25%;
  animation-duration: 4.5s;
}
.snow-flake4 {
  width: 12px;
  height: 12px;
  left: 30%;
  animation-duration: 5s;
}
.snow-flake5 {
  width: 11px;
  height: 11px;
  left: 35%;
  animation-duration: 2.2s;
}
.snow-flake6 {
  width: 8px;
  height: 8px;
  left: 45%;
  animation-duration: 1.85s;
}

.snow-flake7 {
  width: 5px;
  height: 5px;
  left: 55%;
  animation-duration: 3.5s;
}
.snow-flake8 {
  width: 7px;
  height: 7px;
  left: 60%;
  animation-duration: 3.75s;
}
.snow-flake9 {
  width: 9px;
  height: 9px;
  left: 65%;
  animation-duration: 4.5s;
}
.snow-flake10 {
  width: 11px;
  height: 11px;
  left: 75%;
  animation-duration: 1.75s;
}

.snow-flake11 {
  width: 12px;
  height: 12px;
  left: 80%;
  animation-duration: 2.75s;
}
.snow-flake12 {
  width: 6px;
  height: 6px;
  left: 85%;
  animation-duration: 3.75s;
}
.snow-flake13 {
  width: 8px;
  height: 8px;
  left: 90%;
  animation-duration: 4.5s;
}
.snow-flake14 {
  width: 12px;
  height: 12px;
  left: 95%;
  animation-duration: 1.65s;
}
.snow-flake15 {
  width: 11px;
  height: 11px;
  left: 100%;
  animation-duration: 2.5s;
}

@keyframes snowing {
  100% {
    top: 90%;
    opacity: 0.4;
  }
}

.snow-piles {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: #eee;
  border-radius: 100% 100% 0 0;
  z-index: 1;
}

.snow-pile1 {
  width: 50%;
  height: 75px;
  left: 0;
}
.snow-pile2 {
  width: 50%;
  height: 100px;
  left: 25%;
}
.snow-pile3 {
  width: 50%;
  height: 75px;
  left: 50%;
}


.snowman,
.head,
.eyes,
.nose,
.snowmanbody,
.hands,
.buttons {
  position: absolute;
 
}

.snowman {
  bottom: 50px;
  left: 20%;
  background: transparent;
  width: 200px;
  height: 250px;
  
}

.head {
  z-index: 1;
  left: 35%;
  height: 75px;
  width: 75px;
  border-radius: 55% 65% 60% 70%;
  background: white;
}

.eyes {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 25%;
  background: black;
  animation-name: wink;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}

.left-eye {
  left: 40%;
}

.right-eye {
  left: 70%;
  
}

.nose {
  width: 50px;
  height: 10px;
  background: orange;
  top: 65%;
 right: -30%;
  border-radius: 100% 0 0 100%;
  transform: rotate(200deg);
}

.snowmanbody {
  bottom: 0;
  height: 200px;
  width: 200px;
  border-radius: 75% 50% 75% 75%;
  background: white;
}

.hands {
  height: 10px;
  width: 100px;
  top: 30%;
  background: rgb(141, 132, 132);
  /* position: relative; */
  /* z-index: ; */
}

.left-hand {
 
  border-radius: 100% 0 0 100%;
  left: -60px;
  top:40%;
  transform: rotate(-20deg);
  /* background-color: #37c3bc; */
  /* z-index: 1; */
 
}

.right-hand {
 
  border-radius: 0 100% 100% 0;
  left: 80%;
  transform: rotate(-60deg);
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}

.buttons {
  height: 10px;
  width: 10px;
  background: #f00;
  border-radius: 50%;
}

.top-button {
  top: 25%;
  left: 70%;
}

.middle-button {
  top: 50%;
  left: 70%;
}

.bottom-button {
  top: 75%;
  left: 65%;
}


@keyframes wink{
  50%{
transform: scale(1.5);
   }
}

@keyframes wave{
   50%{
   transform: skewY(5deg);
   }
   75%{
      transform: skewY(10deg);
   }
}